
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}
#e3_4 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:0px;
	height:70px;
	position:absolute;
	left:144px;
	top:111px;
	border:0;
}

.Buttons{
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:69px;
	height:70px;
	position:absolute;
	border:0;
}



#e3_34 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:29.571430206298828px;
	top:204px;
}
#e3_36 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:108.4285659790039px;
	top:364px;
}
#e3_146 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:108.4285659790039px;
	top:549px;
}
#e3_148 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:187.28570556640625px;
	top:549px;
}
#e3_150 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:266.1428527832031px;
	top:549px;
}
#e3_152 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:345px;
	top:549px;
}
#e3_154 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:423.8571472167969px;
	top:549px;
}
#e3_156 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:502.7142639160156px;
	top:549px;
}
#e3_158 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:581.5714721679688px;
	top:549px;
}
#e3_160 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:660.4285278320312px;
	top:549px;
}
#e3_162 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:739.2857055664062px;
	top:549px;
}
#e3_164 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:818.142822265625px;
	top:549px;
}
#e3_166 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:897px;
	top:549px;
}
#e3_168 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:975.857177734375px;
	top:549px;
}
#e3_170 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:1054.7142333984375px;
	top:549px;
}
#e3_172 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:1133.5714111328125px;
	top:549px;
}
#e4_4 {
	background-color:rgba(98.17502796649933, 255, 255, 1);
	left:1212.4285888671875px;
	top:549px;
}
#e3_40 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:187.28570556640625px;
	top:364px;
}
#e3_44 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:266.1428527832031px;
	top:364px;
}
#e3_49 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:345px;
	top:364px;
}
#e3_61 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:423.8571472167969px;
	top:364px;
}
#e3_65 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:502.7142639160156px;
	top:364px;
}
#e3_69 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:581.5714721679688px;
	top:364px;
}
#e3_73 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:660.4285278320312px;
	top:364px;
}
#e3_77 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:739.2857055664062px;
	top:364px;
}
#e3_81 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:818.142822265625px;
	top:364px;
}
#e3_201 {
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	left:-129px;
	top:364px;
}
#e3_178 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:818.142822265625px;
	top:44px;
}
#e3_202 {
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	left:-129px;
	top:44px;
}
#e3_85 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:897px;
	top:364px;
}
#e3_203 {
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	left:-50px;
	top:364px;
}
#e3_179 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:897px;
	top:44px;
}
#e3_204 {
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	left:-50px;
	top:44px;
}
#e3_89 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:975.857177734375px;
	top:364px;
}
#e3_180 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:975.857177734375px;
	top:44px;
}
#e3_93 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:1054.7142333984375px;
	top:364px;
}
#e3_181 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1054.7142333984375px;
	top:44px;
}
#e3_97 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1133.5714111328125px;
	top:364px;
}
#e3_195 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:364px;
}
#e3_182 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1133.5714111328125px;
	top:44px;
}
#e3_196 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:44px;
}
#e3_37 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:108.4285659790039px;
	top:204px;
}
#e3_41 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:187.28570556640625px;
	top:204px;
}
#e3_45 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:266.1428527832031px;
	top:204px;
}
#e3_50 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:345px;
	top:204px;
}
#e3_62 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:423.8571472167969px;
	top:204px;
}
#e3_66 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:502.7142639160156px;
	top:204px;
}
#e3_70 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:581.5714721679688px;
	top:204px;
}
#e3_74 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:660.4285278320312px;
	top:204px;
}
#e3_78 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:739.2857055664062px;
	top:204px;
}
#e3_82 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:818.142822265625px;
	top:204px;
}
#e3_205 {
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	left:-129px;
	top:204px;
}
#e3_86 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:897px;
	top:204px;
}
#e3_206 {
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	left:-50px;
	top:204px;
}
#e3_90 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:975.857177734375px;
	top:204px;
}
#e3_94 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1054.7142333984375px;
	top:204px;
}
#e3_98 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1133.5714111328125px;
	top:204px;
}
#e3_197 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:204px;
}
#e3_38 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:108.4285659790039px;
	top:284px;
}
#e3_42 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:187.28570556640625px;
	top:284px;
}
#e3_46 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:266.1428527832031px;
	top:284px;
}
#e3_51 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:345px;
	top:284px;
}
#e3_63 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:423.8571472167969px;
	top:284px;
}
#e3_67 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:502.7142639160156px;
	top:284px;
}
#e3_71 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:581.5714721679688px;
	top:284px;
}
#e3_75 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:660.4285278320312px;
	top:284px;
}
#e3_79 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:739.2857055664062px;
	top:284px;
}
#e3_83 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:818.142822265625px;
	top:284px;
}
#e3_207 {
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	left:-129px;
	top:284px;
}
#e3_87 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:897px;
	top:284px;
}
#e3_208 {
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	left:-50px;
	top:284px;
}
#e3_91 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:975.857177734375px;
	top:284px;
}
#e3_95 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:1054.7142333984375px;
	top:284px;
}
#e3_99 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1133.5714111328125px;
	top:284px;
}
#e3_198 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:284px;
}
#e3_188 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:-36px;
}
#e3_35 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:29.571430206298828px;
	top:284px;
}
#e3_39 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:108.4285659790039px;
	top:444px;
}
#e3_147 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:108.4285659790039px;
	top:629px;
}
#e3_149 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:187.28570556640625px;
	top:629px;
}
#e3_151 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:266.1428527832031px;
	top:629px;
}
#e3_153 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:345px;
	top:629px;
}
#e3_155 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:423.8571472167969px;
	top:629px;
}
#e3_157 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:502.7142639160156px;
	top:629px;
}
#e3_159 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:581.5714721679688px;
	top:629px;
}
#e3_161 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:660.4285278320312px;
	top:629px;
}
#e3_163 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:739.2857055664062px;
	top:629px;
}
#e3_165 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:818.142822265625px;
	top:629px;
}
#e3_167 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:897px;
	top:629px;
}
#e3_169 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:975.857177734375px;
	top:629px;
}
#e3_171 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:1054.7142333984375px;
	top:629px;
}
#e3_173 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:1133.5714111328125px;
	top:629px;
}
#e4_5 {
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	left:1212.4285888671875px;
	top:629px;
}
#e3_43 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:187.28570556640625px;
	top:444px;
}
#e3_47 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:266.1428527832031px;
	top:444px;
}
#e3_52 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:345px;
	top:444px;
}
#e3_64 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:423.8571472167969px;
	top:444px;
}
#e3_68 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:502.7142639160156px;
	top:444px;
}
#e3_72 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:581.5714721679688px;
	top:444px;
}
#e3_76 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:660.4285278320312px;
	top:444px;
}
#e3_80 {
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	left:739.2857055664062px;
	top:444px;
}
#e3_84 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:818.142822265625px;
	top:444px;
}
#e3_209 {
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	left:-129px;
	top:444px;
}
#e3_190 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:818.142822265625px;
	top:124px;
}
#e3_210 {
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	left:-129px;
	top:124px;
}
#e3_88 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:897px;
	top:444px;
}
#e3_211 {
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	left:-50px;
	top:444px;
}
#e3_191 {
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	left:897px;
	top:124px;
}
#e3_212 {
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	left:-50px;
	top:124px;
}
#e3_92 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:975.857177734375px;
	top:444px;
}
#e3_192 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:975.857177734375px;
	top:124px;
}
#e3_96 {
	background-color:rgba(111.5209150314331, 253.93750101327896, 111.5209150314331, 1);
	left:1054.7142333984375px;
	top:444px;
}
#e3_193 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1054.7142333984375px;
	top:124px;
}
#e3_100 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1133.5714111328125px;
	top:444px;
}
#e3_199 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:444px;
}
#e3_194 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:1133.5714111328125px;
	top:124px;
}
#e3_200 {
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	left:1212.4285888671875px;
	top:124px;
}
#e3_2 {
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	left:-129px;
	top:-41px;
}
#e11_33 {
	opacity:1;
	width:1311px;
	height:125px;
	position:absolute;
	left:61px;
	top:861px;
}
#e11_0 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(20.000000707805157, 199.0000033378601, 255, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_15 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(12.000000234693289, 92.00000211596489, 173.00000488758087, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:318px;
	top:85px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_4 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(239.00000095367432, 131.00000739097595, 30.00000011175871, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:675px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_1 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:225px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_17 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(98.00000175833702, 255, 255, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:543px;
	top:85px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_5 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(195.0000035762787, 35.00000171363354, 159.0000057220459, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:900px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_7 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(64.17502999305725, 255, 64.17502999305725, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:900px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_2 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(225.00000178813934, 37.00000159442425, 94.0000019967556, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:450px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_20 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(108.48925530910492, 251.81250303983688, 204.8212605714798, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:768px;
	top:85px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e11_6 {
	box-shadow:-15px 15px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(211.98392182588577, 255, 92.86253303289413, 1);
	opacity:1;
	width:186px;
	height:40px;
	position:absolute;
	left:1125px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e12_7 {
	opacity:1;
	width:1257px;
	height:120px;
	position:absolute;
	left:21px;
	top:2px;
}
#e11_34 {
	color:rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
	opacity:1;
	width:144px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e11_35 {
	color:rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
	opacity:1;
	width:147px;
	height:35px;
	position:absolute;
	left:224px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_4 {
	color:rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
	opacity:1;
	width:145px;
	height:35px;
	position:absolute;
	left:318px;
	top:85px;
	font-family:Poppins;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_5 {
	color:rgba(81.00000277161598, 80.00000283122063, 80.00000283122063, 1);
	opacity:1;
	width:146px;
	height:35px;
	position:absolute;
	left:542px;
	top:85px;
	font-family:Poppins;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_6 {
	color:rgba(81.00000277161598, 80.00000283122063, 80.00000283122063, 1);
	opacity:1;
	width:110px;
	height:35px;
	position:absolute;
	left:791px;
	top:85px;
	font-family:Poppins;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_2 {
	color:rgba(81.00000277161598, 80.00000283122063, 80.00000283122063, 1);
	opacity:0.8999999761581421;
	width:183px;
	height:24px;
	position:absolute;
	left:883px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_3 {
	color:rgba(80.74999898672104, 80.21167427301407, 80.21167427301407, 1);
	opacity:1;
	width:121px;
	height:35px;
	position:absolute;
	left:1136px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_1 {
	color:rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
	opacity:1;
	width:183px;
	height:32px;
	position:absolute;
	left:656px;
	top:1px;
	font-family:Poppins;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_0 {
	color:rgba(241.18749797344208, 241.18749797344208, 241.18749797344208, 1);
	opacity:1;
	width:185px;
	height:26px;
	position:absolute;
	left:430px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:17.5px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_28 {
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:774px;
	height:256px;
	position:absolute;
	left:163px;
	top:18px;
	font-family:Poppins;
	text-align:left;
	font-size:85px;
	letter-spacing:0;
	line-height:undefined;
}
#e12_9 {
	opacity:1;
	width:89.5px;
	height:89.5px;
	position:absolute;
	left:457px;
	top:171px;
}
#e12_10 {
	opacity:1;
	width:79.5191650390625px;
	height:89.50019073486328px;
	position:absolute;
	left:4.990480422973633px;
	top:0px;
}
#e12_11 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:79.5191650390625px;
	height:89.50019073486328px;
	position:absolute;
	left:0px;
	top:0px;
}
#e12_12 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:15.80935287475586px;
	height:15.809547424316406px;
	position:absolute;
	left:31.854848861694336px;
	top:36.84531784057617px;
}
