<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Periodic Table (click an element)</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
</div><span id="Heading">
  <center>THE</center>
  <center>PERI<img src="atom.svg" alt="">DIC TABLE</center>
</span>
</div>
<div class="container">
  <transition name="fade">
    <div class="overlay" v-if="overlay" @click="hideOverlay"></div>
  </transition>
  <transition name="fade">
    <div class="wholeContainer" v-if="overlay">
      <span class="name" v-bind:class="selectedSquare.groupBlock">{{selectedSquare.name}} [{{selectedSquare.symbol}}], {{selectedSquare.atomicNumber}}</span>
      <span class="yearDiscovered" v-if="selectedSquare.yearDiscovered" v-bind:class="selectedSquare.groupBlock">Discovered in {{selectedSquare.yearDiscovered}}</span>
      <div class="detailsView">
        <div class="electrons" v-for="electron in 3"></div>
        <div class="selectedSquare"v-bind:class="selectedSquare.groupBlock">&nbsp
        </div>
      </div>
    </div>
  </transition>

  <div class="squareContainer" v-bind:class="{blurred: overlay}">
    <div class="square" v-for="square in squares" :key="square.atomicNumber" v-bind:class="square.groupBlock" @click="showDetails(square)">
      <span class="atomicNumber">{{square.atomicNumber}}</span>
      <span class="symbol">{{square.symbol}}</span>
      <span class="name">{{square.name}}</span>
      <span class="atomicMass">{{square.atomicMass}}</span>
    </div>
    <div class="legend">
      <div v-for="groupBlock in groupBlocks">
        <div class="color" v-bind:style="{background: groupBlock.color}"></div>{{groupBlock.name}}
      </div>
    </div>
  </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
